{% extends "layout.html" %}
<!--code block in html-->
{% block content%}
{% if posts != [] %}
{% if num_of_posts == 0 %}
<div style="text-align:left;">
    <h4>You don't have any text yet! Add one:</h4>
    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('new_post') }}">Add text</a>
</div>
{% else %}
{% for post in posts.items %} <!-- because its pagination object -->
<article class="media content-section">
    <a href="{{ url_for('user_posts', username=post.author.username) }}">
    <img class="rounded-circle article-img"
         src="{{ url_for('static', filename='profile_pics/' +post.author.image_file) }}">
    </a>
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="{{ url_for('user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
            <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d, %H:%M') }}</small>
        </div>
        <h2><a class="article-title" href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h2>
        <p class="article-content">{{ post.content }}</p>
    </div>
</article>
{% endfor %}
{% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}  <!--whyyy 2??-->
    {% if page_num %}
        {% if posts.page == page_num %}
            <a class="btn btn-info mb-4" href="{{ url_for('home', page=page_num) }}">{{ page_num }}</a>
        {% else %}
            <a class="btn btn-outline-info mb-4" href="{{ url_for('home', page=page_num) }}">{{ page_num }}</a>
        {% endif %}
    {% else %}
        ...
    {% endif %}
{% endfor %}
{% endif %}
{% else %}
<h2>Check if you're logged in!</h2>
{% endif %}
{% endblock content %}