<!DOCTYPE html>
<html lang="en">
<head>
     <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    {% if title %}
        <title>Text reader - {{ title }}</title>
    {% else %}
        <title>Text reader</title>
    {% endif %}
</head>
<body>
    <!--navigatio bar-->
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="/">Text reader</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{{ url_for('home') }}">Home</a>
<!--              <a class="nav-item nav-link" href="{{ url_for('about') }}">About</a>-->
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
                {% if current_user.is_authenticated %}
                    <a class="nav-item nav-link" href="{{ url_for('new_post') }}">New text</a>
                    <a class="nav-item nav-link" href="{{ url_for('account') }}">Account</a>
                    <a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a>
                {% else %}
                    <a class="nav-item nav-link" href="{{ url_for('login') }}">Login</a>
                    <a class="nav-item nav-link" href="{{ url_for('register') }}">Register</a>
                {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
          {% block content %}{% endblock %}<!-- block is keyworld content is given name to refer to-->
        </div>
<!--        <div class="col-md-4">-->
<!--          <div class="content-section">-->
<!--              <p class='text-muted'>-->
<!--                  <ul class="list-group">-->
<!--                    <li class="list-group-item nav-link"><a href="{{ url_for('new_post') }}">Delete text</a></li>-->
<!--                  </ul>-->
<!--              </p>-->
<!--&lt;!&ndash;            <h3>Our Sidebar</h3>&ndash;&gt;-->
<!--&lt;!&ndash;            <p class='text-muted'>You can put any information here you'd like.&ndash;&gt;-->
<!--&lt;!&ndash;              <ul class="list-group">&ndash;&gt;-->
<!--&lt;!&ndash;                <li class="list-group-item list-group-item-light">Latest Posts</li>&ndash;&gt;-->
<!--&lt;!&ndash;                <li class="list-group-item list-group-item-light">Announcements</li>&ndash;&gt;-->
<!--&lt;!&ndash;                <li class="list-group-item list-group-item-light">Calendars</li>&ndash;&gt;-->
<!--&lt;!&ndash;                <li class="list-group-item list-group-item-light">etc</li>&ndash;&gt;-->
<!--&lt;!&ndash;              </ul>&ndash;&gt;-->
<!--&lt;!&ndash;            </p>&ndash;&gt;-->
<!--          </div>-->
<!--        </div>-->
      </div>
    </main>



<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script type = "text/javascript">
             var currAudio = 0;
             var fragment = 0;

             async function playFragment(user, title){
                //TODO: wyslac request ponownie poskonczeniu (po audio.play) czy czytac po jednym ?? -> czytać po jednym
                //i jakos zakonczyc i stopowac,
                //blokowac przycisk read w czasie odczytu zeby komputer nie umrzał od ilosci odczytow ?? -do przemyslenia
                var obj = {};
                obj["user"] = user;
                obj["title"] = title;
                var textToHighlight = "";
                //var fragment = 0;
                return new Promise(resolve => {
                    $.ajax({
                    type : "POST",
                    url : '/getReadingData',
                    dataType: "json",
                    data: JSON.stringify(obj),
                    contentType: 'application/json;charset=UTF-8',
                    success: async function (data) {
                        console.log(data);
                        textToHighlight = data['text'];
                        fragment = data['fragment'];
                        var txt = document.getElementsByClassName('article-content')[0];
                        document.getElementById('ReadButton').disabled = true;
                        document.getElementById('ReadAllButton').disabled = true;
                  document.getElementById('ReadNextButton').disabled = true;
                  document.getElementById('ReadPrevButton').disabled = true;
                        //console.log(txt);
                        var innerHTML=txt.innerHTML;
                        var index = innerHTML.indexOf(textToHighlight);
                        if (index >= 0) {
                           innerHTML = innerHTML.substring(0,index) + "<span class='highlight'>" + innerHTML.substring(index,index+textToHighlight.length) + "</span>" + innerHTML.substring(index + textToHighlight.length);
                           txt.innerHTML = innerHTML;
                        }
                        await playAndHighlight("http://127.0.0.1:8887/" + user +"/" + title + "/" + fragment +".mp3", textToHighlight);

                        //const audio = new Audio("http://127.0.0.1:8887/" + user +"/" + title + "/" + fragment +".mp3");
                        //audio.play();
                        resolve("")
                        }
                });
                });
             }

             function playAudio(audio_obj){
                  return new Promise(res=>{
                    audio_obj.play()
                    audio_obj.onended = res
                  })
                }

             function stopAudio(audio_obj){
                  return new Promise(res=>{
                    audio_obj.pause()
                    audio_obj.onended = res
                  })
                }

                // how to call
                async function playAndHighlight(path, fragment){
                  const audio = new Audio(path);
                  currAudio = audio;
                  await playAudio(audio)
                  document.getElementById('ReadButton').disabled = false;
                  document.getElementById('ReadAllButton').disabled = false;
                  document.getElementById('ReadNextButton').disabled = false;
                  document.getElementById('ReadPrevButton').disabled = false;
                  var txt = document.getElementsByClassName('article-content')[0];
                  var innerHTML=txt.innerHTML;
                  var index = innerHTML.indexOf(fragment);
                  if (index >= 0) {
                     innerHTML = innerHTML.substring(0,index) + "<span class='unhighlight'>" + innerHTML.substring(index,index+fragment.length) + "</span>" + innerHTML.substring(index + fragment.length);
                     txt.innerHTML = innerHTML;
                  }
                  return new Promise(resolve => resolve(""));
                }

             function playAllFragments(postId, user, title, number_of_parts) {
                 $.ajax({
                     type : "POST",
                     url : '/read_all',
                     dataType : "json",
                     data : JSON.stringify({'id' : postId}),
                     contentType: 'application/json;charset=UTF-8',
                     success: async function (data) {
                         for (let i = 1; i <= number_of_parts; i++) {
                             if (i === 1) {
                                 await playFragment(user, title);
                             } else {
                                 await readNext(postId, user, title);
                             }
                         }
                     }
                 })
             }

              async function readNext(postId, user, title) {
                 return new Promise(resolve => {
                     $.ajax({
                     type : "POST",
                     url : '/read_next',
                     dataType : "json",
                     data : JSON.stringify({'id' : postId}),
                     contentType : 'application/json;charset=UTF-8',
                     success: async function() {
                         await playFragment(user, title);
                         resolve("");
                     }
                 });
                 });
             }

             function readPrevious(postId, user, title) {
                 $.ajax({
                     type : "POST",
                     url : '/read_previous',
                     dataType : "json",
                     data : JSON.stringify({'id' : postId}),
                     contentType : 'application/json;charset=UTF-8',
                     success : function() {
                         playFragment(user, title)
                     }
                 })
             }

             function readStop(postId, user, title) {
                 $.ajax({
                     type : "POST",
                     url : '/read_stopped',
                     dataType : "json",
                     data : JSON.stringify({'id' : postId}),
                     contentType : 'application/json;charset=UTF-8',
                     success : function() {
                        currAudio.pause();
                        document.getElementById('ReadButton').disabled = false;
                        document.getElementById('ReadAllButton').disabled = false;
                        document.getElementById('ReadNextButton').disabled = false;
                        document.getElementById('ReadPrevButton').disabled = false;
                        var highlightNodes = document.getElementsByClassName('highlight');
                        var elements = Array.from(highlightNodes);
                        elements.forEach((element) => {
                            element.classList.remove('highlight');
                            }
                        );
                     }
                 })
             }

             function resetReading(postId, user, title) {
                 $.ajax({
                     type : "POST",
                     url : '/reset',
                     dataType : "json",
                     data : JSON.stringify({'id' : postId}),
                     contentType : 'application/json;charset=UTF-8',
                     success : function() {
                        currAudio.pause();
                        document.getElementById('ReadButton').disabled = false;
                        document.getElementById('ReadAllButton').disabled = false;
                        document.getElementById('ReadNextButton').disabled = false;
                        document.getElementById('ReadPrevButton').disabled = false;
                        var highlightNodes = document.getElementsByClassName('highlight');
                        var elements = Array.from(highlightNodes);
                        elements.forEach((element) => {
                            element.classList.remove('highlight');
                            }
                        );
                     }
                 })
             }


             // function readNext(user, title, fragment) {
             //     playFragment(user, title, fragment+1)
             // }

             // function readNext(postId, user, title) {
             //     fetch('/read_next', {
             //        method: 'POST',
             //        headers: {
             //          'Content-Type' : 'application/json',
             //        body: JSON.stringify({id: postId})
             //      }
             //    }).then( function(text){
             //                playFragment(user, title);
             //            }
             //        )
             // }


    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"></script>

</body>
</html>